<a href="https://colab.research.google.com/github/iandyxz/PROGCOM-B/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estructuras de repetición

Se emplean cuando se desea repetir una parte del código, dada una condición

##Listas

* Son un conjunto de tipos de datos, **indexado**, separado por comas, y encerrado entre [].
* Todos los elementos dentro de una lista se empiezan a contar desde 0.

###Creación de listas

* Forma general: lista=[]
* Forma manual: animales=["gato", "perro", zorro, "oso"]
* Por conversión: número=list(range(10))
* Son objetos

In [ ]:
lista=[]

In [9]:
lista=[range(1,8)]

In [10]:
lista.count()

TypeError: list.count() takes exactly one argument (0 given)

In [11]:
type(lista)

list

In [ ]:
zorro=(1,2,3,4)
animales=["gato", "perro", zorro, "oso"]
animales

['gato', 'perro', (1, 2, 3, 4), 'oso']

In [ ]:
type(zorro)

In [ ]:
número=list(range(10))
número

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
número=list(range(10))

##Estructura para - for

Se usa cuando
* Se sabe **cuántas veces** se repite una acción.
* Esta compuesta por un contador y una condición.
* **Contador**: Identifica cuántas veces se va a repetir el bucle y con qué frecuencia.
* **Condición**: Evalúa cuándo se detiene.

Por definición:



```
for variable in range(vi, vf+1, paso):
  aquí se repite parte del código.
```

Donde:

1. vi: Condición inicial. Dónde arranco a contar.
2. vf+1: Condición final. Dónde dejo de contar + 1
3. paso: Frecuencia de conteo

for para recorrido de listas
flor=["amapola", "rosa", "tulipán", "orquídea"]

* El para va a iterar tantas veces como elementos tenga la lista
* La variable dentro del para, toma como valor cada elemento de la lista

```
for variable in lista:
  variable
```

In [51]:
#Creando una lista de nombre flor
flor=["amapola", "rosa", "tulipán", "orquídea"]
flores=5
for flores in flor:
  print(flores)
  if flores=="tulipán":
    break #Rompe la iteración

amapola
rosa
tulipán

In [1]:
name=[]
for nombres in range(5):
  name.append(input("Ingrese su nombre: "))

Ingrese su nombre: 1
Ingrese su nombre: 2
Ingrese su nombre: 3
Ingrese su nombre: 4
Ingrese su nombre: 5

In [2]:
name

['1', '2', '3', '4', '5']

##Estructura while

* Se emplea cuando **NO SE SABE** cuántas veces se debe repetir una acción, pero si se conoce su condición de parada (CP).
* Condición inicial: Dónde arranca el ciclo.
*Condición final (parada): Que indica dónde se detiene el ciclo.
* Modificador de condición inicial

Estructura general del mientras


```
condición inicial
while (condicióncondición final):
  modificador de condición inicial
```

Modificadores de condición inicial:

* Banderas: son booleanos
* Son preguntas
* Son contadores o acumuladores

##Ejercicios

1. Escribe un programa que imprima los números del 1 al 10

In [5]:
for n in range(10):
  print(n+1)

1
2
3
4
5
6
7
8
9
10

In [41]:
num=[]
for n in range(10):
  num.append(n+1)
  if n == 10:
    break
  else:
    n = n

#El objetivo del if, es que solamente se imprima la lista, cuando se hayan contado todos los números, que la lista no se tenga que imprimir 10 veces para añadir un solo número.
#Funciona de la siguiente manera: Si n es igual a 10 (número límite pedido), se rompe el ciclo y se pasa al siguiente paso, si no, a n se le asigna el valor de n, es decir, no va a cambiar, para así poder seguir el ciclo con normalidad.

print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Escribe un programa que sume los números del 1 al 100

In [68]:
s = 0
for n in range (100):
  n = n + 1
  s = s + n

  if n == 100:
    break
  else:
    n = n

print(s)

5050

In [72]:
num=[]
s = 0
for n in range (100):
  n = n + 1
  s = s + n
  num.append(s)

  if n == 100:
    break
  else:
    n = n

print(num)

#El programa va a imprimir una lista con cada uno de los resultados de las sumas conformen van avanzando, es decir:
#[1, (1+2), ((1+2)+3), (((1+2)+3)+4), ...] hasta llegar a ((x)+100)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210, 231, 253, 276, 300, 325, 351, 378, 406, 435, 465, 496, 528, 561, 595, 630, 666, 703, 741, 780, 820, 861, 903, 946, 990, 1035, 1081, 1128, 1176, 1225, 1275, 1326, 1378, 1431, 1485, 1540, 1596, 1653, 1711, 1770, 1830, 1891, 1953, 2016, 2080, 2145, 2211, 2278, 2346, 2415, 2485, 2556, 2628, 2701, 2775, 2850, 2926, 3003, 3081, 3160, 3240, 3321, 3403, 3486, 3570, 3655, 3741, 3828, 3916, 4005, 4095, 4186, 4278, 4371, 4465, 4560, 4656, 4753, 4851, 4950, 5050]

3. Escribe un programa que imprima los múltiplos de 3 entre 1 y 30

In [73]:
for n in range(30):
  n = n + 1

  if ((n % 3) == 0):
    print(n)
  else:
    n = n

3
6
9
12
15
18
21
24
27
30

In [75]:
num=[]
for n in range(30):
  n = n + 1

  if ((n % 3) == 0):
    num.append(n)
  else:
    n = n

  if n == 30:
    break
  else:
    n = n

print(num)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

4. Escribe un programa que lea un número e imprima su tabla de multiplicar del 1 al 10

In [81]:
n=int(input("Introduzca un número: "))

for t in range(10):
  t = t + 1
  print(f"{n} * {t} = {(n * t)}")

Introduzca un número: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [87]:
n=int(input("Introduzca un número: "))
num=[]
r = 0

for t in range(10):
  t = t + 1
  r = n * t
  num.append(r)

  if t == 10:
    break
  else:
    t = t

  print(f"El resultado de cada una de las tablas de multiplicar del número {n} desde 1 hasta 10, son: {num}")

Introduzca un número: 2
El resultado de cada una de las tablas de multiplicar del número 2 desde 1 hasta 10, son: [2]
El resultado de cada una de las tablas de multiplicar del número 2 desde 1 hasta 10, son: [2, 4]
El resultado de cada una de las tablas de multiplicar del número 2 desde 1 hasta 10, son: [2, 4, 6]
El resultado de cada una de las tablas de multiplicar del número 2 desde 1 hasta 10, son: [2, 4, 6, 8]
El resultado de cada una de las tablas de multiplicar del número 2 desde 1 hasta 10, son: [2, 4, 6, 8, 10]
El resultado de cada una de las tablas de multiplicar del número 2 desde 1 hasta 10, son: [2, 4, 6, 8, 10, 12]
El resultado de cada una de las tablas de multiplicar del número 2 desde 1 hasta 10, son: [2, 4, 6, 8, 10, 12, 14]
El resultado de cada una de las tablas de multiplicar del número 2 desde 1 hasta 10, son: [2, 4, 6, 8, 10, 12, 14, 16]
El resultado de cada una de las tablas de multiplicar del número 2 desde 1 hasta 10, son: [2, 4, 6, 8, 10, 12, 14, 16, 18]