<a href="https://colab.research.google.com/github/iandyxz/PROGCOM-B/blob/main/Clase_5_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LISTAS

1. Un nuevo tipo de dato
2. Es mutable
3. Indexación: Hay un orden
4. Hay un númro finito de posiciones
5. Todas las listas se abre y cierran con [] y se separan con ,.

Sintáxis:

```
nombre_lista=[] #Crea lista vacía
flores=["margarita", "rosa", "tulipán"]
```

Listas por extensión.

In [ ]:
nu=[]
for i in range(1,11):
  nu[i]=i

IndexError: list assignment index out of range

In [ ]:
for i in range(10):
  nu.append(i+1)

In [ ]:
nu

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
nombres=[]
for i in range(3):
  nombres.append(input("Ingrese su nombre: "))

Ingrese su nombre: Santiago
Ingrese su nombre: Haru
Ingrese su nombre: Andy

In [ ]:
nombres

['Santiago', 'Haru', 'Andy']

##INDEXACIÓN EN LISTAS

*Recordar que Python cuenta desde **0***


```
Lista=[Elemento1,Elemento2,Elemento3]
Lista[0]=Elemento1
Lista[3]=Error: Fuera de Rango
```

In [ ]:
#Indexación negativa
Lista_num=[1,2,3,4,5,6,7,8,9,10]
Lista_num[-1]

10

In [ ]:
Lista_num[-2]

9

In [ ]:
Lista_num[len(Lista_num)-1]

10

In [ ]:
Lista_num[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
Lista_num[:2]

[1, 2]

##LISTAS POR COMPRENSIÓN

Son expresiones que generan listas

Sintáxis:

```
nombre_lista=[expresion for variable in iteración if condición]
```

###EJEMPLOS

In [ ]:
#1. Convertir una lista de oraciones en una lista de palabras

oracion=["Aquí va una oración", "Aquí va otra oración", "Aquí va la tercera oración"]
len(oracion)

3

In [ ]:
palabras=[i.split() for i in oracion]
palabras
len(palabras[2])

5

In [ ]:
palabras[2]

['Aquí', 'va', 'la', 'tercera', 'oración']

In [ ]:
#2. Obtener los pares de Lista_Num

pares=[x for x in Lista_num if x%2==0]
pares

[2, 4, 6, 8, 10]

In [ ]:
#3. Clasificar números en positivos y negativos

numeros=[-1,2,-3,4,-5,6,-7,8,-9,10]
clasificacion=[("Positivo",x) if x>=0 else ("Negativo",x) for x in numeros]
clasificacion

[('Negativo', -1),
 ('Positivo', 2),
 ('Negativo', -3),
 ('Positivo', 4),
 ('Negativo', -5),
 ('Positivo', 6),
 ('Negativo', -7),
 ('Positivo', 8),
 ('Negativo', -9),
 ('Positivo', 10)]

##EJEMPLOS

1. Crear una lista con los cuadrados de los números del 1 al 10

In [1]:
cuadrados = [i ** 2 for i in range(1,11)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Obtener una lista con los números pares del 0 al 20

In [2]:
NumerosPares = [i for i in range(1,21) if i%2 == 0]
NumerosPares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

3. Crear una lista con el doble de cada número del 1 al 5

In [3]:
NumerosDobles = [i * 2 for i in range(1,6)]
NumerosDobles

[2, 4, 6, 8, 10]

4. De la palabra "programación", obtener solo las vocales

In [4]:
palabra = "programacion"
vocales = [letra for letra in palabra if letra in "aeiou"]
vocales

['o', 'a', 'a', 'i', 'o']

5. Dada la lista ["Python", "Java", "C++"], obtener otra lista con las palabras mayúsculas

In [5]:
Programas = ["python", "java", "c++"]
Mayúsculas = [i.upper() for i in Programas]
Mayúsculas

['PYTHON', 'JAVA', 'C++']

6. Crear una lista con "par" o "impar" para los números del 1 al 10

In [6]:
ListaNumers = [1,2,3,4,5,6,7,8,9,10]
clasificacion = [("par",x) if x%2==0 else ("impar",x) for x in ListaNumers]
clasificacion

[('impar', 1),
 ('par', 2),
 ('impar', 3),
 ('par', 4),
 ('impar', 5),
 ('par', 6),
 ('impar', 7),
 ('par', 8),
 ('impar', 9),
 ('par', 10)]

7. Generar una lista de tuplas con el número de su cuadrado del 1 al 5

In [7]:
ListaNumeros = [1,2,3,4,5]
NumerosCuadrados = [(x, "su cuadrado es" ,x**2 ) for x in ListaNumeros]
NumerosCuadrados

[(1, 'su cuadrado es', 1),
 (2, 'su cuadrado es', 4),
 (3, 'su cuadrado es', 9),
 (4, 'su cuadrado es', 16),
 (5, 'su cuadrado es', 25)]

8. Crear una lista con todas las combinaciones de letras en ["a", "b"] y números en [1, 2, 3]

In [8]:
Letras = ["a","b"]
Numeros = [1,2,3]
Combinados = [(letra,Numero) for letra in Letras for Numero in Numeros]
Combinados

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras

In [10]:
palabras =["sol", "estrella", "mar", "planeta"]
filtro = [i for i in palabras if len(i) > 4]
filtro

['estrella', 'planeta']